.field--name-field-area-individual .paragraph-top {
  display: none !important;
}

.field--name-field-area-individual thead th:last-child {
  display: none;
}

.precos-field-group legend .fieldset-legend::after {
  content: " *";
  color: red;
}
